<div class="container container-fluid d-flex justify-content-center align-content-center flex-wrap gap-3">
    <div class="card" style="width: 18rem;">
        <div class="icons">
            <i class="bi bi-universal-access-circle"></i>
        </div>
        <div class="card-body">
            <a asp-controller="Patrocinador" asp-action="Index" class="btn btn-primary btn-radius">Patrocinadores</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="icons">
            <i class="bi bi-people-fill"></i>
        </div>
        <div class="card-body">
            <a href="#" class="btn btn-primary btn-radius">Apoiadores</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="icons">
            <i class="bi bi-chat-dots"></i>
        </div>
        <div class="card-body ">
            <a href="#" class="btn btn-primary btn-radius">Reuniões</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="icons">
            <i class="bi bi-activity"></i>
        </div>
        <div class="card-body">
            <a href="#" class="btn btn-primary btn-radius">Arquivos</a>
        </div>
    </div>
</div>